In [40]:
import pandas as pd

dataset=pd.read_csv(
    '../datasets/Anantapur.csv'
)

In [41]:
dataset

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,6968000,1340,Maruthi nagar,2,0,0,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0
1,29000000,3498,Maruthi nagar,4,0,0,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0
2,6590000,1318,Maruthi nagar,2,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5739000,1295,Maruthi nagar,3,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,5679000,1145,Maruthi nagar,2,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,7605000,1435,Navodaya colony,3,0,0,1,1,0,0,...,1,0,0,0,0,0,0,0,0,0
495,2600000,684,Navodaya colony,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
496,4500000,1040,Navodaya colony,2,0,0,0,0,0,0,...,1,1,0,1,0,0,1,1,0,0
497,3000000,850,Navodaya colony,2,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
498,3200000,1150,Navodaya colony,2,0,0,0,0,0,0,...,1,1,0,1,0,0,0,0,0,0

In [42]:
dataset.head()

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,6968000,1340,Maruthi nagar,2,0,0,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0
1,29000000,3498,Maruthi nagar,4,0,0,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0
2,6590000,1318,Maruthi nagar,2,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5739000,1295,Maruthi nagar,3,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,5679000,1145,Maruthi nagar,2,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0

In [43]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499 entries, 0 to 498
Data columns (total 40 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Price                499 non-null    int64
 1   Area                 499 non-null    int64
 2   Location             499 non-null    object
 3   No. of Bedrooms      499 non-null    int64
 4   Resale               499 non-null    int64
 5   MaintenanceStaff     499 non-null    int64
 6   Gymnasium            499 non-null    int64
 7   SwimmingPool         499 non-null    int64
 8   LandscapedGardens    499 non-null    int64
 9   JoggingTrack         499 non-null    int64
 10  RainWaterHarvesting  499 non-null    int64
 11  IndoorGames          499 non-null    int64
 12  ShoppingMall         499 non-null    int64
 13  Intercom             499 non-null    int64
 14  SportsFacility       499 non-null    int64
 15  ATM                  499 non-null    int64
 16  ClubHouse            499 non-null    int64
 17  School               499 non-null    int64
 18  24X7Security         499 non-null    int64
 19  PowerBackup          499 non-null    int64
 20  CarParking           499 non-null    int64
 21  StaffQuarter         499 non-null    int64
 22  Cafeteria            499 non-null    int64
 23  MultipurposeRoom     499 non-null    int64
 24  Hospital             499 non-null    int64
 25  WashingMachine       499 non-null    int64
 26  Gasconnection        499 non-null    int64
 27  AC                   499 non-null    int64
 28  Wifi                 499 non-null    int64
 29  Children'splayarea   499 non-null    int64
 30  LiftAvailable        499 non-null    int64
 31  BED                  499 non-null    int64
 32  VaastuCompliant      499 non-null    int64
 33  Microwave            499 non-null    int64
 34  GolfCourse           499 non-null    int64
 35  TV                   499 non-null    int64
 36  DiningTable          499 non-null    int64
 37  Sofa                 499 non-null    int64
 38  Wardrobe             499 non-null    int64
 39  Refrigerator         499 non-null    int64
dtypes: int64(39), object(1)
memory usage: 156.1+ KB

In [44]:
dataset.columns

Index(['Price', 'Area', 'Location', 'No. of Bedrooms', 'Resale',
       'MaintenanceStaff', 'Gymnasium', 'SwimmingPool', 'LandscapedGardens',
       'JoggingTrack', 'RainWaterHarvesting', 'IndoorGames', 'ShoppingMall',
       'Intercom', 'SportsFacility', 'ATM', 'ClubHouse', 'School',
       '24X7Security', 'PowerBackup', 'CarParking', 'StaffQuarter',
       'Cafeteria', 'MultipurposeRoom', 'Hospital', 'WashingMachine',
       'Gasconnection', 'AC', 'Wifi', 'Children'splayarea', 'LiftAvailable',
       'BED', 'VaastuCompliant', 'Microwave', 'GolfCourse', 'TV',
       'DiningTable', 'Sofa', 'Wardrobe', 'Refrigerator'],
      dtype='object')

In [45]:
locations=[]
for i in dataset.Location:
    if i not in locations:
        locations.append(i)

In [46]:
locations

['Maruthi nagar',
 'Sri nagar colony',
 'Rudrampeta ',
 'Ganesha nagar',
 'Rahamat nagar',
 'Balaji nagar',
 'Kamalanagar',
 'Erramanchi',
 'Telecom nagar',
 'Indira gandhi nagar',
 'Santhi nagar',
 'Navodaya colony']

In [47]:
print(len(locations))

12

In [48]:
n=[]
for i in range(1,len(locations)+1):
    n.append(i)

In [49]:
print(n)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [50]:
dataset['Location'].replace(locations,
                        n, inplace=True)

In [51]:
dataset.head()

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,6968000,1340,1,2,0,0,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0
1,29000000,3498,1,4,0,0,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0
2,6590000,1318,1,2,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5739000,1295,1,3,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,5679000,1145,1,2,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0

In [52]:
dataset

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,6968000,1340,1,2,0,0,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0
1,29000000,3498,1,4,0,0,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0
2,6590000,1318,1,2,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5739000,1295,1,3,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,5679000,1145,1,2,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,7605000,1435,12,3,0,0,1,1,0,0,...,1,0,0,0,0,0,0,0,0,0
495,2600000,684,12,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
496,4500000,1040,12,2,0,0,0,0,0,0,...,1,1,0,1,0,0,1,1,0,0
497,3000000,850,12,2,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
498,3200000,1150,12,2,0,0,0,0,0,0,...,1,1,0,1,0,0,0,0,0,0

In [53]:
import numpy as np
def wrangle(df):
    df.replace(9, np.nan, inplace=True)
    df.dropna(inplace=True)
    df.drop(columns = ['Wifi', 'Wardrobe'], inplace=True)
    maskprice = df["Price"]< 100000000
    df = df[maskprice]
    return df

dataset=wrangle(dataset)

In [54]:
X=dataset.iloc[:,1:]

In [55]:
X=X.values

In [56]:
Y=dataset.iloc[:,0]

In [57]:
Y=Y.values

In [58]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3)

In [59]:
X_train.shape

(348, 37)

In [60]:
X_test.shape

(150, 37)

In [61]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train,Y_train)

LinearRegression()

In [62]:
from sklearn.ensemble import RandomForestRegressor
rf=RandomForestRegressor()
rf.fit(X_train,Y_train)

RandomForestRegressor()

In [63]:
from sklearn.tree import DecisionTreeRegressor
dt=DecisionTreeRegressor()
dt.fit(X_train,Y_train)

DecisionTreeRegressor()

In [64]:
from sklearn.metrics import r2_score
Y_pred=regressor.predict(X_test)
print(r2_score(Y_pred,Y_test))

0.8196992847000244

In [65]:
Y_pred1=rf.predict(X_test)
print(r2_score(Y_pred1,Y_test))

0.8798998713815233

In [66]:
Y_pred2=dt.predict(X_test)
print(r2_score(Y_pred2,Y_test))

0.8814586924578134

In [67]:
import pickle

model=open('../static/models/modelanantapur.pkl','wb')
pickle.dump(rf,model)
model.close()