In [1]:
import pandas as pd

dataset=pd.read_csv(
    '../datasets/Hyderabad.csv'
)

In [2]:
dataset

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,6968000,1340,Nizampet,2,0,0,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0
1,29000000,3498,Hitech City,4,0,0,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0
2,6590000,1318,Manikonda,2,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5739000,1295,Alwal,3,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,5679000,1145,Kukatpally,2,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2513,11000000,1460,Nacharam,2,1,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
2514,26000000,1314,Manikonda,2,1,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
2515,13300000,2625,Madhapur,3,1,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
2516,10800000,2050,Hitech City,3,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
2517,10400000,1805,Narsingi,3,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9

In [3]:
dataset.head()

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,6968000,1340,Nizampet,2,0,0,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0
1,29000000,3498,Hitech City,4,0,0,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0
2,6590000,1318,Manikonda,2,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5739000,1295,Alwal,3,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,5679000,1145,Kukatpally,2,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2518 entries, 0 to 2517
Data columns (total 40 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Price                2518 non-null   int64
 1   Area                 2518 non-null   int64
 2   Location             2518 non-null   object
 3   No. of Bedrooms      2518 non-null   int64
 4   Resale               2518 non-null   int64
 5   MaintenanceStaff     2518 non-null   int64
 6   Gymnasium            2518 non-null   int64
 7   SwimmingPool         2518 non-null   int64
 8   LandscapedGardens    2518 non-null   int64
 9   JoggingTrack         2518 non-null   int64
 10  RainWaterHarvesting  2518 non-null   int64
 11  IndoorGames          2518 non-null   int64
 12  ShoppingMall         2518 non-null   int64
 13  Intercom             2518 non-null   int64
 14  SportsFacility       2518 non-null   int64
 15  ATM                  2518 non-null   int64
 16  ClubHouse            2518 non-null   int64
 17  School               2518 non-null   int64
 18  24X7Security         2518 non-null   int64
 19  PowerBackup          2518 non-null   int64
 20  CarParking           2518 non-null   int64
 21  StaffQuarter         2518 non-null   int64
 22  Cafeteria            2518 non-null   int64
 23  MultipurposeRoom     2518 non-null   int64
 24  Hospital             2518 non-null   int64
 25  WashingMachine       2518 non-null   int64
 26  Gasconnection        2518 non-null   int64
 27  AC                   2518 non-null   int64
 28  Wifi                 2518 non-null   int64
 29  Children'splayarea   2518 non-null   int64
 30  LiftAvailable        2518 non-null   int64
 31  BED                  2518 non-null   int64
 32  VaastuCompliant      2518 non-null   int64
 33  Microwave            2518 non-null   int64
 34  GolfCourse           2518 non-null   int64
 35  TV                   2518 non-null   int64
 36  DiningTable          2518 non-null   int64
 37  Sofa                 2518 non-null   int64
 38  Wardrobe             2518 non-null   int64
 39  Refrigerator         2518 non-null   int64
dtypes: int64(39), object(1)
memory usage: 787.0+ KB

In [5]:
dataset.columns

Index(['Price', 'Area', 'Location', 'No. of Bedrooms', 'Resale',
       'MaintenanceStaff', 'Gymnasium', 'SwimmingPool', 'LandscapedGardens',
       'JoggingTrack', 'RainWaterHarvesting', 'IndoorGames', 'ShoppingMall',
       'Intercom', 'SportsFacility', 'ATM', 'ClubHouse', 'School',
       '24X7Security', 'PowerBackup', 'CarParking', 'StaffQuarter',
       'Cafeteria', 'MultipurposeRoom', 'Hospital', 'WashingMachine',
       'Gasconnection', 'AC', 'Wifi', 'Children'splayarea', 'LiftAvailable',
       'BED', 'VaastuCompliant', 'Microwave', 'GolfCourse', 'TV',
       'DiningTable', 'Sofa', 'Wardrobe', 'Refrigerator'],
      dtype='object')

In [6]:
locations=[]
for i in dataset.Location:
    if i not in locations:
        locations.append(i)

In [7]:
locations

['Nizampet',
 'Hitech City',
 'Manikonda',
 'Alwal',
 'Kukatpally',
 'Gachibowli',
 'Tellapur',
 'Kokapet',
 'Hyder Nagar',
 'Mehdipatnam',
 'Narsingi',
 'Khajaguda Nanakramguda Road',
 'Madhapur',
 'Puppalaguda',
 'Begumpet',
 'Banjara Hills',
 'AS Rao Nagar',
 'Pragathi Nagar Kukatpally',
 'Miyapur',
 'Mallampet',
 'Nanakramguda',
 'Attapur',
 'West Marredpally',
 'Kompally',
 'Sri Nagar Colony',
 'Hakimpet',
 'Pocharam',
 'Nagole',
 'LB Nagar',
 'Meerpet',
 'Kachiguda',
 'Masab Tank',
 'Kondapur',
 'Saroornagar',
 'Uppal Kalan',
 'Mallapur',
 'Rajendra Nagar',
 'Beeramguda',
 'Moosapet',
 'Bachupally',
 'Toli Chowki',
 'Lakdikapul',
 'Tarnaka',
 'Kistareddypet',
 'Hafeezpet',
 'Shaikpet',
 'Amberpet',
 'Kapra',
 'Trimalgherry',
 'Habsiguda',
 'Sanath Nagar',
 'Darga Khaliz Khan',
 'Kothaguda',
 'Balanagar',
 'Jubilee Hills',
 'raidurgam',
 'Murad Nagar',
 'Chandanagar',
 'East Marredpally',
 'Aminpur',
 'Gajularamaram',
 'Serilingampally',
 'Malkajgiri',
 'Mettuguda',
 'Venkat Nagar Colony',
 'Kondakal',
 'Gopanpally',
 'Somajiguda',
 'Nallagandla Gachibowli',
 'Krishna Reddy Pet',
 'Bolarum',
 'Zamistanpur',
 'Madhura Nagar',
 'Ghansi Bazaar',
 'Chintalakunta',
 'Chinthal Basthi',
 'Nallakunta',
 'Bowenpally',
 'Bandlaguda Jagir',
 'Boduppal',
 'Neknampur',
 'Appa Junction Peerancheru',
 'Ambedkar Nagar',
 'Vanasthalipuram',
 'Moula Ali',
 'Gandipet',
 'Nacharam',
 'Appa Junction',
 'Qutub Shahi Tombs',
 'Abids',
 'Dilsukh Nagar',
 'Quthbullapur',
 'Sainikpuri',
 'KTR Colony',
 'Bollaram',
 'Karmanghat',
 'Gajulramaram Kukatpally',
 'Uppal',
 'Cherlapalli',
 'Himayat Nagar',
 'Rhoda Mistri Nagar',
 'Chintalmet',
 'Hitex Road',
 'ECIL',
 'Boiguda',
 'ECIL Main Road',
 'ECIL Cross Road',
 'Rajbhavan Road Somajiguda',
 'Ramachandra Puram',
 'TellapurOsman Nagar Road',
 'Mansoorabad',
 'KRCR Colony Road',
 'Pragati Nagar',
 'Padmarao Nagar',
 'Paramount Colony Toli Chowki',
 'BK Guda Internal Road',
 'muthangi',
 'Pragathi Nagar',
 'Yapral',
 'Narayanguda',
 'Kollur',
 'Bachupally Road',
 'Old Bowenpally',
 'Alapathi Nagar',
 'Arvind Nagar Colony',
 'Matrusri Nagar',
 'Pragathi Nagar Road',
 'Padma Colony',
 'Happy Homes Colony',
 'Old Nallakunta',
 'Sangeet Nagar',
 'NRSA Colony',
 'Adibatla',
 'Methodist Colony',
 'Ameerpet',
 'ALIND Employees Colony',
 'Khizra Enclave',
 'Medchal',
 'Dammaiguda',
 'Suchitra',
 'Whitefields',
 'Mayuri Nagar',
 'Adda Gutta',
 'Miyapur HMT Swarnapuri Colony',
 'Central Excise Colony Hyderabad',
 'Basheer Bagh',
 'Gopal Nagar',
 'Bachupaly Road Miyapur',
 'Kushaiguda',
 'Ashok Nagar',
 'Barkatpura',
 'Madinaguda',
 'Bagh Amberpet',
 'new nallakunta',
 'BHEL',
 'Sun City',
 'Hydershakote',
 'BK Guda Road',
 'Nallagandla Road',
 'IDPL Colony',
 'Ramnagar Gundu',
 'Alkapur township',
 'Banjara Hills Road Number 12',
 'Panchavati Colony Manikonda',
 'New Maruthi Nagar',
 'Madhavaram Nagar Colony',
 'Miyapur Bachupally Road',
 'nizampet road',
 'Kokapeta Village',
 'HMT Hills',
 'Tilak Nagar',
 'Chititra Medchal',
 'Isnapur',
 'D D Colony',
 'DD Colony',
 'Patancheru Shankarpalli Road',
 'Patancheru',
 'Jhangir Pet',
 'Almasguda',
 'Allwyn Colony',
 'financial District',
 'Beeramguda Road',
 'Pati',
 'Karimnagar',
 'Kollur Road',
 'Sun City Padmasri Estates',
 'Chaitanyapuri',
 'Nandagiri Hills',
 'Whitefield',
 'Film Nagar',
 'Kismatpur',
 'Dr A S Rao Nagar Rd',
 'Dullapally',
 'KPHB',
 'Vivekananda Nagar Colony',
 'Ameenpur',
 'Chintradripet',
 'Ring Road',
 'Saket',
 'Kavuri Hills',
 'manneguda',
 'Moti Nagar',
 'Usman Nagar',
 'Shadnagar',
 'Bongloor',
 'Mailardevpally',
 'Uppalguda',
 'Tirumalgiri',
 'Chikkadapally',
 'JNTU',
 'hyderabad',
 'Shamshabad',
 'Srisailam Highway',
 'Domalguda',
 'Lingampalli',
 'Residential Flat Machavaram',
 'Whisper Valley',
 'Tukkuguda Airport View Point Road',
 'Santoshnagar',
 'Tolichowki',
 'Domalguda Road',
 'Shankarpalli',
 'Kothapet',
 'Baghlingampally',
 'Picket',
 'Safilguda',
 'Sikh Village',
 'Neredmet',
 'Macha Bolarum',
 'Kowkur',
 'Rakshapuram',
 'west venkatapuram',
 'Vidyanagar Adikmet',
 'Aushapur',
 'Old Alwal',
 'Secunderabad Railway Station Road',
 'Balapur',
 'Hastinapur',
 'chandrayangutta',
 'Balaji Hills Colony Venkatraya Nagar',
 'Janachaitanya Colony',
 'Gurramguda',
 'Paradise Circle']

In [8]:
print(len(locations))

243

In [9]:
n=[]
for i in range(1,len(locations)+1):
    n.append(i)

In [10]:
print(n)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243]

In [11]:
dataset['Location'].replace(locations,
                        n, inplace=True)

In [12]:
dataset.head()

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,6968000,1340,1,2,0,0,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0
1,29000000,3498,2,4,0,0,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0
2,6590000,1318,3,2,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5739000,1295,4,3,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,5679000,1145,5,2,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0

In [13]:
dataset

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,6968000,1340,1,2,0,0,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0
1,29000000,3498,2,4,0,0,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0
2,6590000,1318,3,2,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5739000,1295,4,3,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,5679000,1145,5,2,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2513,11000000,1460,87,2,1,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
2514,26000000,1314,3,2,1,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
2515,13300000,2625,13,3,1,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
2516,10800000,2050,2,3,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
2517,10400000,1805,11,3,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9

In [14]:
import numpy as np
def wrangle(df):
    df.replace(9, np.nan, inplace=True)
    df.dropna(inplace=True)
    df.drop(columns = ['Wifi', 'Wardrobe'], inplace=True)
    maskprice = df["Price"]< 100000000
    df = df[maskprice]
    return df

dataset=wrangle(dataset)

In [15]:
X=dataset.iloc[:,1:]

In [16]:
X=X.values

In [17]:
Y=dataset.iloc[:,0]

In [18]:
Y=Y.values

In [19]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3)

In [20]:
X_train.shape

(1699, 37)

In [21]:
X_test.shape

(729, 37)

In [22]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train,Y_train)

LinearRegression()

In [23]:
from sklearn.ensemble import RandomForestRegressor
rf=RandomForestRegressor()
rf.fit(X_train,Y_train)

RandomForestRegressor()

In [24]:
from sklearn.tree import DecisionTreeRegressor
dt=DecisionTreeRegressor()
dt.fit(X_train,Y_train)

DecisionTreeRegressor()

In [25]:
from sklearn.metrics import r2_score
Y_pred=regressor.predict(X_test)
print(r2_score(Y_pred,Y_test))

0.7843220201108705

In [26]:
Y_pred1=rf.predict(X_test)
print(r2_score(Y_pred1,Y_test))

0.9086579349362259

In [27]:
Y_pred2=dt.predict(X_test)
print(r2_score(Y_pred2,Y_test))

0.847448128086267

In [28]:
import pickle

model=open('../static/models/modelhyd.pkl','wb')
pickle.dump(rf,model)
model.close()