In [1]:
import pandas as pd

dataset=pd.read_csv(
    '../datasets/Mumbai.csv'
)

In [2]:
dataset

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,4850000,720,Kharghar,1,1,1,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
1,4500000,600,Kharghar,1,1,1,1,1,0,1,...,1,0,1,0,0,0,0,0,0,0
2,6700000,650,Kharghar,1,1,1,1,1,0,1,...,1,0,1,0,0,0,0,0,0,0
3,4500000,650,Kharghar,1,1,1,0,0,1,0,...,1,1,1,0,0,0,0,0,1,0
4,5000000,665,Kharghar,1,1,1,0,0,1,0,...,1,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7714,14500000,1180,Mira Road East,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
7715,14500000,530,Naigaon East,1,1,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
7716,4100000,700,Shirgaon,1,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
7717,2750000,995,Mira Road East,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
7718,2750000,1020,Mira Road East,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9

In [3]:
dataset.head()

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,4850000,720,Kharghar,1,1,1,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
1,4500000,600,Kharghar,1,1,1,1,1,0,1,...,1,0,1,0,0,0,0,0,0,0
2,6700000,650,Kharghar,1,1,1,1,1,0,1,...,1,0,1,0,0,0,0,0,0,0
3,4500000,650,Kharghar,1,1,1,0,0,1,0,...,1,1,1,0,0,0,0,0,1,0
4,5000000,665,Kharghar,1,1,1,0,0,1,0,...,1,0,1,0,0,0,0,0,0,0

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7719 entries, 0 to 7718
Data columns (total 40 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Price                7719 non-null   int64
 1   Area                 7719 non-null   int64
 2   Location             7719 non-null   object
 3   No. of Bedrooms      7719 non-null   int64
 4   Resale               7719 non-null   int64
 5   MaintenanceStaff     7719 non-null   int64
 6   Gymnasium            7719 non-null   int64
 7   SwimmingPool         7719 non-null   int64
 8   LandscapedGardens    7719 non-null   int64
 9   JoggingTrack         7719 non-null   int64
 10  RainWaterHarvesting  7719 non-null   int64
 11  IndoorGames          7719 non-null   int64
 12  ShoppingMall         7719 non-null   int64
 13  Intercom             7719 non-null   int64
 14  SportsFacility       7719 non-null   int64
 15  ATM                  7719 non-null   int64
 16  ClubHouse            7719 non-null   int64
 17  School               7719 non-null   int64
 18  24X7Security         7719 non-null   int64
 19  PowerBackup          7719 non-null   int64
 20  CarParking           7719 non-null   int64
 21  StaffQuarter         7719 non-null   int64
 22  Cafeteria            7719 non-null   int64
 23  MultipurposeRoom     7719 non-null   int64
 24  Hospital             7719 non-null   int64
 25  WashingMachine       7719 non-null   int64
 26  Gasconnection        7719 non-null   int64
 27  AC                   7719 non-null   int64
 28  Wifi                 7719 non-null   int64
 29  Children'splayarea   7719 non-null   int64
 30  LiftAvailable        7719 non-null   int64
 31  BED                  7719 non-null   int64
 32  VaastuCompliant      7719 non-null   int64
 33  Microwave            7719 non-null   int64
 34  GolfCourse           7719 non-null   int64
 35  TV                   7719 non-null   int64
 36  DiningTable          7719 non-null   int64
 37  Sofa                 7719 non-null   int64
 38  Wardrobe             7719 non-null   int64
 39  Refrigerator         7719 non-null   int64
dtypes: int64(39), object(1)
memory usage: 2.4+ MB

In [5]:
dataset.columns

Index(['Price', 'Area', 'Location', 'No. of Bedrooms', 'Resale',
       'MaintenanceStaff', 'Gymnasium', 'SwimmingPool', 'LandscapedGardens',
       'JoggingTrack', 'RainWaterHarvesting', 'IndoorGames', 'ShoppingMall',
       'Intercom', 'SportsFacility', 'ATM', 'ClubHouse', 'School',
       '24X7Security', 'PowerBackup', 'CarParking', 'StaffQuarter',
       'Cafeteria', 'MultipurposeRoom', 'Hospital', 'WashingMachine',
       'Gasconnection', 'AC', 'Wifi', 'Children'splayarea', 'LiftAvailable',
       'BED', 'VaastuCompliant', 'Microwave', 'GolfCourse', 'TV',
       'DiningTable', 'Sofa', 'Wardrobe', 'Refrigerator'],
      dtype='object')

In [6]:
locations=[]
for i in dataset.Location:
    if i not in locations:
        locations.append(i)

In [7]:
locations

['Kharghar',
 'Sector-13 Kharghar',
 'Sector 18 Kharghar',
 'Sector 20 Kharghar',
 'Sector 15 Kharghar',
 'Dombivali',
 'Churchgate',
 'Prabhadevi',
 'Jogeshwari West',
 'Kalyan East',
 'Malad East',
 'Virar East',
 'Virar',
 'Malad West',
 'Borivali East',
 'Mira Road East',
 'Goregaon West',
 'Kandivali West',
 'Borivali West',
 'Kandivali East',
 'Andheri East',
 'Goregaon East',
 'Wadala',
 'Ulwe',
 'Dahisar',
 'kandivali',
 'Goregaon',
 'Bhandup West',
 'thakur village kandivali east',
 'Santacruz West',
 'Kanjurmarg',
 'I C Colony',
 'Dahisar W',
 'Marol',
 'Parel',
 'Lower Parel',
 'Worli',
 'Jogeshwari East',
 'Chembur Shell Colony',
 'Central Avenue',
 'Chembur East',
 'Diamond Market Road',
 'Mulund',
 'Nalasopara West',
 'raheja vihar',
 'Powai Lake',
 'MHADA Colony 20',
 'Tolaram Colony',
 'Taloja',
 'Thane West',
 'Vangani',
 'Sector 5 Ulwe',
 'Sector12 New Panvel',
 'Sector 17 Ulwe',
 'Sector9 Kamothe',
 'Sector 19 Kharghar',
 'Navi Basti',
 'Sector12 Kamothe',
 'Sector 21 Kamothe',
 'Rutu Enclave',
 'taloja panchanand',
 'Virar West',
 'Chembur',
 'Sector 20 Kamothe',
 'Sector 22 Kamothe',
 'Sector 18 Kamothe',
 'Sector-5 Kamothe',
 'Sector-6A Kamothe',
 'Sector 11 Kamothe',
 'Sector-18 Ulwe',
 'Sector-12 Kamothe',
 'azad nagar',
 'Sindhi Society Chembur',
 'Kurla',
 'Sahkar Nagar',
 'Deonar',
 'Thane',
 'Jankalyan Nagar',
 'Badlapur',
 'Ambarnath',
 'Ambernath West',
 'Vakola',
 'Kamothe',
 'Kamothe Sector 16',
 'Almeida Park',
 'Khar',
 'Bandra West',
 'Pali Hill',
 '15th Road',
 'Palghar',
 'Sector13 Kharghar',
 'Sector 21 Kharghar',
 'Sector 12 Kharghar',
 'Vivek Vidyalaya Marg',
 'Vasai east',
 'Nahur',
 'Badlapur West',
 'Panvel',
 'Kalyan',
 'Badlapur East',
 'Mira Bhayandar',
 'Juhu',
 'Naigaon East',
 'Sector 21 Ulwe',
 'Bandra East',
 'Dronagiri',
 'Nerul',
 'Karanjade',
 'Sanpada',
 'Sector-8 Ulwe',
 'Sector-3 Ulwe',
 'Sector 23 Ulwe',
 'ULWE SECTOR 19',
 'Ghodbunder Road',
 'Bhiwandi',
 'Vasai',
 'Nala Sopara',
 'Dadar East',
 'Ghatkopar',
 'Breach Candy',
 'Worli South Mumbai',
 'Asangaon',
 'Koparkhairane Station Road',
 'Kopar Khairane Sector 19A',
 'Koper Khairane',
 'Eastern Express Highway Vikhroli',
 'Magathane',
 'Rawal Pada',
 'Ambernath East',
 'Dokali Pada',
 'Dattapada',
 'Rajendra Nagar',
 'Kulupwadi',
 'Samata Nagar Thakur Village',
 'Mira Road and Beyond',
 'West Amardeep Colony',
 'Pant Nagar',
 'mumbai',
 'Four Bungalows',
 'no 9',
 'kolshet',
 'Hiranandani Meadows',
 'Kalpataru',
 'Petali',
 'Kharghar Sector 34C',
 'Ghatkopar East',
 'Mumbai Agra National Highway',
 'vasant vihar thane west',
 'Kalyan West',
 'Shirgaon',
 'Pokhran 2',
 'juhu tara',
 'Peddar Road',
 'Palm Beach',
 'Sector 10',
 'Sector 19 Kamothe',
 'Tilak Nagar',
 'Ghatkopar West',
 'Tardeo',
 'Napeansea Road',
 'Mahalaxmi',
 'Dahisar West',
 'Mulund West',
 'Natakwala Lane',
 'Link Road',
 'Devidas Cross Lane',
 'Soniwadi Road',
 'Haridas Nagar',
 'Shimpoli',
 'TPS Road',
 'Off Shimpoli road',
 'Rustomjee Global City',
 'Sunil Nagar',
 'Sector 30 Kharghar',
 'Sector 12 A',
 'Sector 18',
 'Sector13 Khanda Colony',
 'Sector16 Airoli',
 'Ranjanpada',
 'Sector 15',
 'Sector 35G',
 'Sector 5',
 'Sector 35I Kharghar',
 'Sector35D Kharghar',
 'Sector34 A Kharghar',
 'Sector 30',
 'Sector 36 Kharghar',
 'Sector 11 Belapur',
 'Sector-34B Kharghar',
 'Dombivali East',
 'Roadpali',
 'Sector-50 Seawoods',
 'Mumbai Highway',
 'Sector 7 Kharghar',
 'Lokhandwala Township',
 'Andheri',
 'Andheri West',
 'Shastri Nagar',
 'Wadala East Wadala',
 'Kalwa',
 'PARSIK NAGAR',
 'Maharashtra Nagar',
 'Patlipada',
 'Belapur',
 'Seawoods',
 'Majiwada',
 '4 Bunglows',
 'Airoli',
 'Kolshet Road',
 'Sector 10 Khanda Colony',
 'Pokharan Road',
 'Kharegaon',
 'Panch Pakhadi',
 'Sector 36 Kamothe',
 'Dombivli (West)',
 'DN Nagar Road',
 'Godrej Hill',
 'Ganesh Nagar',
 'Haware City',
 'Mahatma Gandhi Road',
 'Akurli Nagar',
 'Kasar vadavali',
 'Vasai West',
 'Mumbai Nashik Expressway',
 'Katrap',
 'Mira Road',
 'Kasheli',
 'Western Express Highway Kandivali East',
 'Vasind',
 'KASHELI',
 'Thakurli',
 'Shakti Nagar',
 'Bhayandar East',
 'Dahisar East',
 'ulhasnagar 4',
 'Sector-26 Taloja',
 'Koproli',
 'Mumbai Central',
 'Greater Khanda',
 'link road borivali west',
 'Manpada',
 'Sector 2 Ulwe',
 'Govind nagar',
 'Krishanlal Marwah Marg',
 'Sector-9 Ulwe',
 'Vikhroli',
 'Kalamboli',
 'Lokhandwala',
 'Patel Nagar',
 'Yari Road',
 'Thakur complex',
 'Khar West',
 'Sector 11 Kharghar',
 'Ghansoli',
 'Sector8 Sanpada',
 'Jeejamata Nagar',
 'Pandurangwadi',
 'Shreyas Colony',
 'Kannamwar Nagar II',
 'gokuldham',
 'Bangur Nagar',
 'Shivaji Colony',
 'Jawahar Nagar',
 'Vedant Complex',
 'Titwala',
 'Manvel pada Road',
 'Govandi',
 'Shilphata Road Thane',
 'Vasant Vihar',
 'Thakur Village',
 'Samata nagar',
 'Wadi Bandar',
 'Kapurbawadi',
 'Thane Belapur Road Kalwa',
 'Suburbs Mumbai',
 'Ramdev Park',
 'Sector-35 Kamothe',
 'Sector 58A Seawoods Navi Mumbai',
 'Diva',
 'Borivali',
 'Gundavali Gaothan',
 'Kondivita Road',
 'Koldongri',
 'Saki Naka',
 'Bhayandar West',
 'Versova',
 'Hanuman Nagar',
 'worli sea face',
 'Sea Face',
 'Shiv Sagar Estate',
 'Grant Road West',
 'Sriprastha',
 'Off Nepean Sea Road',
 'Morya Nagar',
 'Upper Worli',
 'worli sea Fase',
 'Powai',
 'Agripada',
 'Sion',
 'Girgaon',
 'IT Colony',
 'Bhayandarpada',
 'Sector-24 Kamothe',
 'Phase 2',
 'Sector 6',
 'Malad',
 'Haji Ali',
 'Majiwada thane',
 'Yogi Hills',
 'Sector 19 Nerul',
 'Owale',
 'MG Road',
 'roadpali navimumbai',
 'Taloja Bypass Nitalas Link Road',
 'Rasayani',
 'Sector 10 Kamothe',
 'kavesar',
 'Kopara',
 'royal palms goregaon east',
 'Dadar West',
 'vrindavan society',
 'CBD Belapur East',
 'Parel Village',
 'Karave Nagar',
 'Sector 19A Nerul',
 'Antop Hill',
 'Suman Nagar',
 'Bhakti Park',
 'Hanuman Chowk',
 'Willingdon',
 'VishnuNagar',
 'Vichumbe',
 'Vashi',
 'Poonam Sagar Complex',
 'Santacruz East',
 'Mulund East',
 'Sector-8 Sanpada',
 'Sector-9 Ghansoli',
 'Balkum',
 'Hiranandani Estates',
 'Vartak Nagar',
 'Charkop',
 'dhanukarwadi',
 'Vazira',
 'Four Bunglows',
 'Palava',
 'Oshiwara Police Station Road',
 'Seven Bunglow',
 'Poddar Road',
 'Gulmohar Road',
 'Vile Parle E',
 'Pokhran Road No 2',
 'Sainath Nagar',
 'Kapur Bawdi',
 'Manpada near Tiku ji ni wadi',
 'Kolshet Industrial Area',
 'Sector16 Ulwe',
 'Anand Nagar Thane West',
 'Charkop Sector 8',
 'Vile Parle',
 'Marine Lines',
 'Bandra Kurla Complex',
 'sec 50 new',
 'Vakola Pipeline Road',
 'Neral',
 'Shil Phata',
 'Ville Parle East',
 'matunga east',
 'Dharavi',
 'vile parle west',
 'Anjurdive',
 'Uran',
 'Boisar',
 'Kanjurmarg East',
 'Kurla West',
 'Sewri',
 'Matunga',
 'Goregaon (East)',
 'Malabar Hill',
 'Ambivali',
 'Nalasopara East',
 'Vijay Nagar',
 'Chedda Nagar',
 'Kurla East',
 'Kharodi',
 'Ville Parle West',
 'Vikhroli West',
 'Wadala East',
 'Palidevad',
 'Vikroli East',
 'Mahim',
 'Khalapur',
 'Karjat',
 'Vitthalwadi',
 'Bhoiwada Kalyan',
 'Beturkar Pada',
 'Ambivli',
 'Nilje Gaon',
 'Khopoli',
 'Taloje',
 'Gulal Wadi',
 'Tilak Nagar Mumbai',
 'Chandivali',
 'Nere',
 'Kewale',
 'Sector 9 Airoli',
 'Diva Gaon',
 'Sen Nagar',
 'Adaigaon',
 'Syndicate',
 'Gandhar Nagar',
 'Byculla',
 'Padle Gaon']

In [8]:
print(len(locations))

413

In [9]:
n=[]
for i in range(1,len(locations)+1):
    n.append(i)

In [10]:
print(n)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413]

In [11]:
dataset['Location'].replace(locations,
                        n, inplace=True)

In [12]:
dataset.head()

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,4850000,720,1,1,1,1,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
1,4500000,600,1,1,1,1,1,1,0,1,...,1,0,1,0,0,0,0,0,0,0
2,6700000,650,1,1,1,1,1,1,0,1,...,1,0,1,0,0,0,0,0,0,0
3,4500000,650,1,1,1,1,0,0,1,0,...,1,1,1,0,0,0,0,0,1,0
4,5000000,665,1,1,1,1,0,0,1,0,...,1,0,1,0,0,0,0,0,0,0

In [13]:
dataset

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,4850000,720,1,1,1,1,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
1,4500000,600,1,1,1,1,1,1,0,1,...,1,0,1,0,0,0,0,0,0,0
2,6700000,650,1,1,1,1,1,1,0,1,...,1,0,1,0,0,0,0,0,0,0
3,4500000,650,1,1,1,1,0,0,1,0,...,1,1,1,0,0,0,0,0,1,0
4,5000000,665,1,1,1,1,0,0,1,0,...,1,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7714,14500000,1180,16,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
7715,14500000,530,103,1,1,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
7716,4100000,700,150,1,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
7717,2750000,995,16,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
7718,2750000,1020,16,2,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9

In [14]:
import numpy as np
def wrangle(df):
    df.replace(9, np.nan, inplace=True)
    df.dropna(inplace=True)
    df.drop(columns = ['Wifi', 'Wardrobe'], inplace=True)
    maskprice = df["Price"]< 100000000
    df = df[maskprice]
    return df

dataset=wrangle(dataset)

In [15]:
X=dataset.iloc[:,1:]

In [16]:
X=X.values

In [17]:
Y=dataset.iloc[:,0]

In [18]:
Y=Y.values

In [19]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3)

In [20]:
X_train.shape

(962, 37)

In [21]:
X_test.shape

(413, 37)

In [22]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train,Y_train)

LinearRegression()

In [23]:
from sklearn.ensemble import RandomForestRegressor
rf=RandomForestRegressor()
rf.fit(X_train,Y_train)

RandomForestRegressor()

In [24]:
from sklearn.tree import DecisionTreeRegressor
dt=DecisionTreeRegressor()
dt.fit(X_train,Y_train)

DecisionTreeRegressor()

In [25]:
from sklearn.metrics import r2_score
Y_pred=regressor.predict(X_test)
print(r2_score(Y_pred,Y_test))

-0.5838933957098089

In [26]:
Y_pred1=rf.predict(X_test)
print(r2_score(Y_pred1,Y_test))

0.5132175054021675

In [27]:
Y_pred2=dt.predict(X_test)
print(r2_score(Y_pred2,Y_test))

0.4394432016559672

In [28]:
import pickle

model=open('../static/models/modelmumbai.pkl','wb')
pickle.dump(rf,model)
model.close()